/* ES TO EN */

/* CONTENEDOR DE COLUMNAS */
.container-columns {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	padding: 2rem;
	gap: 2rem;
}

.main__new-button{
	font-size: 2rem;
	font-weight: bold;
	border-radius: 1rem;
	border: 0.2rem solid #70b5ee;
	color: #70b5ee;
	flex-grow: 1;
	cursor: pointer;

	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;

	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 1rem rgba(255, 255, 255, 0.271);

	background: #8a8d96;
	border: none;
	transition: 300ms;
}
.main__new-button i{
	padding: 0;
	font-size: 2.5rem;

	color: white;
}

.main__new-button:hover{
	transform: scale(1.15);
}

@media (min-width: 480px) {
	.main__new-button{
		padding: 1rem 2rem;
	}
}

@media (min-width: 1024px) {
	.main__new-button{
		display: none;
	}
}

@media (min-width: 1327px) {
	.container-columns{
		justify-content: center;
		flex-direction: row;
		padding: 2rem;
		gap: 2rem;
	}
}
.container-columns.dark{
	background-color: #283946;
}
.container-columns.dark .dark{
	background-color: #202536;
}