.columna{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: max-content;
  padding: .8rem;
  border-radius: var(--r-xl);
  gap: 2rem;
  background: var(--white);
  min-height: 150vh;
}

.columna__title{
  color: var(--white);
  padding: .5rem;
  border-radius: var(--r-lg);
  background: var(--gray);
  text-align: center;
  font-size: var(--xl);
}

.columna__title--gray{
  background: var(--gray);
}
.columna__title--purple{
  background: var(--purple);
}
.columna__title--green{
  background: var(--green);
}

.columna__container-cards{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: .8rem;
}