/* CONTENEDOR DE COLUMNAS */
.container-columns {
	display: flex;
	/* background: coral; */
	overflow: hidden;
	flex-wrap: wrap;
	padding: 2rem;
	gap: 2rem;
}

@media (min-width: 1400px) {
	.container-columns{
		justify-content: center;
		/* align-items: center; */
		padding: 2rem;
		gap: 2rem;
	}
}
