.theme23 {
    --aside: #c8ddbb;
    --aside-border-right: #c8ddbb;
    --aside-title: #FFFFFF;
    --aside-form: #ffffff;
    --aside-textarea: #e9e5af;
    --aside-textarea-letter: #000000;
    --aside-textarea-placeholder: #000000;
    --aside-textarea-separator: #000000;
    --aside-selector: #e9e5af;
    --aside-selector-border: #767676;
    --aside-selector-letter: #000;
    --aside-button-close: #FFF;
    --aside-button-theme: #b1cbc7;
    --aside-button-theme-letter: #fff;
    --aside-button-theme-hover: #8ba5a1;
    --aside-button-theme-hover-letter: #fff;
    --aside-button-add: #b1cbc7;
    --aside-button-add-hover: #8ba5a1;
    --aside-button-add-letter: white;
    --aside-button-clear: #fba09d;
    --aside-button-clear-hover: #dd8d8b;
    --aside-button-clear-icon: white;
    --alert-bg: #37383e;
    --header: #dde9d6;
    --header-selector: #c5e3df;
    --header-selector-letter: #525252;
    --aside-selector-border: #ffffff00;
    --header-search: #c5e3df;
    --header-search-border: #0000;
    --header-search-letter: #525252;
    --header-search-place-holder: #525252;
    --header-search-icon: #777777;
    --header-search-icon-hover: #302A40;
    --main: #f2f2f2;
    --main-column: #ffffff;
    --main-column-number-bg: #ffffff;
    --main-column-number: #000;
    --main-title-letter: #FFF;
    --main-title-1: #b6e2dd;
    --main-title-2: #b6e2dd;
    --main-title-3: #b6e2dd;
    --main-card-1: #fba09d;
    --main-card-2: #fbc99d;
    --main-card-3: #fbdf9d;
    --main-card-letter: #252525;
    --main-card-icons: #FFF;
    --main-card-floating: #525252;
    --main-card-floating-letter: #fff;
    --main-button-add: #181818;
}