.theme12{
  /* ASIDE */
  --aside: #2C3333;
  --aside-border-right: #33333388; 

  --aside-title:  #FFFFFF; 
  --aside-form: #ffffff; 

  --aside-textarea: #d6d7ff; 
  --aside-textarea-letter: #000000; 
  --aside-textarea-placeholder: #000000;
  --aside-textarea-separator: #000;  

  --aside-selector: #FAF7FC;  
  --aside-selector-border: #767676;  
  --aside-selector-letter: #000;  

  --aside-button-close: #FFF; 

  --aside-button-theme: white;
  --aside-button-theme-letter: black;
  --aside-button-theme-hover: #395B64;
  --aside-button-theme-hover-letter: #fff;

  --aside-button-add: #205E61;
  --aside-button-add-hover: #286e71;
  --aside-button-add-letter: white;
  --aside-button-clear: #D61355;
  --aside-button-clear-hover: #e82364;
  --aside-button-clear-icon: white;

  --alert-bg: #37383e;

  /* HEADER */
  --header: #E7F6F2; 
  --header-selector: #fff; 
  --header-selector-letter: black; 
  --aside-selector-border: #767676; 

  --header-search: #FAF7FC; 
  --header-search-border: #000; 
  --header-search-letter: #000; 
  --header-search-place-holder: #000; 
  --header-search-icon: #302A40; 
  --header-search-icon-hover: #302A40; 

  /* MAIN */
  --main: #E7F6F2; 
  --main-column: #ffffff; 
  --main-column-number-bg: #ffffff; 
  --main-column-number: #000; 

  --main-title-letter: #FFF; 
  --main-title-1: #395B64; 
  --main-title-2: #395B64; 
  --main-title-3: #395B64; 

  --main-card-1: #A5C9CA; 
  --main-card-2: #A5C9CA; 
  --main-card-3: #A5C9CA; 
  --main-card-letter: #252525; 
  --main-card-icons: #FFF; 

  --main-card-floating: #525252; 
  --main-card-floating-letter: #fff; 

  --main-button-add: #2C3333; 
}