.theme24 {
    --aside: #a79284;
    --aside-border-right: #b08569;
    --aside-title: #FFFFFF;
    --aside-form: #ffffff;
    --aside-textarea: #e4d3c3;
    --aside-textarea-letter: #000000;
    --aside-textarea-placeholder: #000000;
    --aside-textarea-separator: #000000;
    --aside-selector: #e4d3c3;
    --aside-selector-border: #767676;
    --aside-selector-letter: #000;
    --aside-button-close: #FFF;
    --aside-button-theme: #79675c;
    --aside-button-theme-letter: #fff;
    --aside-button-theme-hover: #64564d;
    --aside-button-theme-hover-letter: #fff;
    --aside-button-add: #79675c;
    --aside-button-add-hover: #685c54;
    --aside-button-add-letter: white;
    --aside-button-clear: #bd6a67;
    --aside-button-clear-hover:#ad625f;
    --aside-button-clear-icon: white;
    --alert-bg: #37383e;
    --header: #f2f2f2;
    --header-selector: #e4d3c3;
    --header-selector-letter: #525252;
    --aside-selector-border: #ffffff00;
    --header-search: #e4d3c3;
    --header-search-border: #0000;
    --header-search-letter: #525252;
    --header-search-place-holder: #525252;
    --header-search-icon: #777777;
    --header-search-icon-hover: #302A40;
    --main: #f2f2f2;
    --main-column: #ffffff;
    --main-column-number-bg: #ffffff;
    --main-column-number: #000;
    --main-title-letter: #FFF;
    --main-title-1: #79675c;
    --main-title-2: #79675c;
    --main-title-3: #79675c;
    --main-card-1: #a79284;
    --main-card-2: #e6ccb2;
    --main-card-3: #ede0d4;
    --main-card-letter: #252525;
    --main-card-icons: #FFF;
    --main-card-floating: #525252;
    --main-card-floating-letter: #fff;
    --main-button-add: #181818;
}