.theme22 {
    --aside: #184e77;
    --aside-border-right: #33333388;
    --aside-title: #FFFFFF;
    --aside-form: #ffffff;
    --aside-textarea: #daecf1;
    --aside-textarea-letter: #757575;
    --aside-textarea-placeholder: #757575;
    --aside-textarea-separator: #333;
    --aside-selector: #daecf1;
    --aside-selector-letter: #000;
    --aside-button-close: #FFF;
    --aside-button-theme: #daecf1;
    --aside-button-theme-letter: black;
    --aside-button-theme-hover: gray;
    --aside-button-theme-hover-letter: #fdfdfd;
    --aside-button-add: #8796bf;
    --aside-button-add-hover: #1f81af;
    --aside-button-add-letter: white;
    --aside-button-clear: rgb(232, 105, 105);
    --aside-button-clear-hover: rgb(224, 71, 71);
    --aside-button-clear-icon: white;
    --alert-bg: #4b4d54;
    --header: #1e6091;
    --header-selector: #daecf1;
    --header-selector-letter: black;
    --aside-selector-border: #daecf1;
    --header-search: #daecf1;
    --header-search-border: #000;
    --header-search-letter: #FFF;
    --header-search-place-holder: gray;
    --header-search-icon: gray;
    --header-search-icon-hover: gray;
    --main: #e3ecf7;
    --main-column: #ffffff;
    --main-column-number-bg: #ffffff;
    --main-column-number: #000;
    --main-title-1: #8796bf;
    --main-title-2: #6faddd;
    --main-title-3: #1f81af;
    --main-title-letter: #FFF;
    --main-card-1: #34a0a4;
    --main-card-2: #99d98c;
    --main-card-3: #d9ed92;
    --main-card-letter: #4F4E4E;
    --main-card-icons: #FFF;
    --main-card-floating: #484b51;
    --main-card-floating-letter: #fff;
    --main-button-add: #8a8d96;
}