.aside {
  /* background: blue; */
  display: flex;
  flex-direction: column;
}
.aside__title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--white);
  /* background: green; */
  /* height: 160px; */
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside__form {
  width: 100%;
  min-width: 272px;
  min-height: 486px;
  background: var(--white);
  /* background-color: red; */
  border-radius: var(--r-lg);
}
