.column{
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1.5rem;
  border-radius: var(--r-xl);
  gap: 3.5rem;
  background: var(--white);
  min-height: 150vh;
  width: calc(100% / 3);

  min-width: 300px;
}

.column__title{
  color: var(--white);
  padding: 1rem .5rem;
  border-radius: var(--r-lg);
  background: var(--gray);
  text-align: center;
  font-size: var(--xl);
}

.column__title--gray{
  background: var(--gray2);
}
.column__title--purple{
  background: var(--purple);
}
.column__title--green{
  background: var(--green);
}

.column__container-cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}