.column {
	display: flex;
	flex-direction: column;
	width: max-content;
	padding: 12px;
	border-bottom-left-radius: var(--r-xl);
	border-bottom-right-radius: var(--r-xl);
	gap: 24px;
	background: var(--white);
	/* background: rgb(0, 255, 21); */
	height: max-content;
	/* border: 1px solid black; */
	border-radius: 1rem;

  width: 100%;
	justify-content: center;
	align-items: center; /* PROV */
	box-shadow: 0 0 5px rgba(128, 128, 128, 0.4);
	min-width: 270px;
}

.column::-webkit-scrollbar {
	width: 0px;
}

.column::-webkit-scrollbar-thumb {
}

.column__container__title {
}

.column__title {
	color: var(--white);
	padding: .7rem 0.5rem;
	border-radius: var(--r-lg);
	background: var(--gray);
	text-align: center;
	font-size: var(--xl);
	z-index: 100;
	padding: .7rem 8rem;
}

.column__title--gray {
	background: var(--gray2);
}
.column__title--purple {
	background: var(--purple);
}
.column__title--green {
	background: var(--green);
}

.column__container-cards {
	/* display: flex; */
	gap: 12px;
	/* background: red; */
	flex-wrap: wrap;

	display: grid;
	grid-template-columns: 1fr;
	width: 100%;


	/* height: calc(100vh - 21rem);
	overflow-y: scroll; */
}

/* 
.column__container-cards::-webkit-scrollbar{
	display: none;
} */

.stack {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: var(--xl);
}


@media (min-width: 650px) {
	.column__container-cards {
		grid-template-columns: 1fr 1fr;
	}
}

/* @media (min-width: 1400px) { */
	@media (min-width: 1325px) {
	.column{
		max-width: 300px;
		align-items: initial; /* PROV */
	}

	.column__container-cards {
		grid-template-columns: 1fr;
	}

	.column{
		width: 350px;
	}

	
	.column__container-cards {
		height: calc(100vh - 19.5rem);
		overflow-y: scroll;
	}

	.column__container-cards::-webkit-scrollbar{
		display: none;
	}
}
