.column {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 12px;
  border-radius: var(--r-xl);
  gap: 36px;
  background: var(--white);
  height: 776px;
  width: calc(100% / 3);
  min-width: 296px;
  overflow: scroll;
}

.column__title {
  color: var(--white);
  padding: 1rem 0.5rem;
  border-radius: var(--r-lg);
  background: var(--gray);
  text-align: center;
  font-size: var(--xl);
}

.column__title--gray {
  background: var(--gray2);
}
.column__title--purple {
  background: var(--purple);
}
.column__title--green {
  background: var(--green);
}

.column__container-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
