.container__search {
	height: 100%;
	display: flex;
	align-items: center;
}

.search {
	background-color: var(--gray4);
	width: 1000px;
	height: 42px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: var(--r-lg);
}

.search__selects {
	width: 45%;
	height: 28px;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

select#tag,
select#column,
select#priority,
select#time {
	height: 28px;
	border-radius: var(--r-sm);
}

select option[value="todo"] {
	background-color: var(--gray3);
}
select option[value="progress"] {
	background-color: var(--purple);
}
select option[value="completed"] {
	background-color: var(--green-light);
}
select option[value="high"] {
	background-color: var(--red-light);
}
select option[value="middle"] {
	background-color: var(--yellow-light);
}
select option[value="low"] {
	background-color: var(--blue-light);
}

.header__icon {
	color: var(--gray1);
}

.search__input {
	width: 55%;
	position: relative;
}
.search__input input {
	width: 99%;
	height: 32px;
	border: 1px solid var(--gray1);
	border-radius: var(--r-md);
}

.search__input input::placeholder {
  padding-left: 10px;
}

.search__input i {
	position: absolute;
	right: 14px;
    top: 7px;
    color: var(--gray1);
}



