/* HEADER /////////////////////////////// */
.header {
	/* padding: 1rem; */
	/* padding: .5rem; */
	width: 100%;
	/* background: goldenrod; */
}

/* CONTENEDOR ///////////////////////////////*/
.header__contenedor {
	background-color: var(--gray4);
	background: #b2b2b2;
	/* border-radius: var(--r-lg); */

	/* background: violet; */
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: .5rem;
	padding: .8rem;
	
	/* gap: 1rem; */
	gap: 1.5rem;
}


/* CAJA DE SELECTORES ///////////////////////////////*/
.header__contenedor-selectores {
	/* background: blue; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* padding: .5rem; */
	gap: .5rem;
}

/* SELECTOR ///////////////////////////////*/
.header__selector{
	/* background-color: red; */
	width: max-content;
	/* height: 28px; */
	border-radius: var(--r-sm);
	padding: .2rem 0 ;



	flex-grow: 1;
}

/* .header__selector option[value="todo"] {
	background-color: var(--gray3);
}
.header__selector option[value="progress"] {
	background-color: var(--purple);
}
.header__selector option[value="completed"] {
	background-color: var(--green-light);
}
.header__selector option[value="high"] {
	background-color: var(--red-light);
}
.header__selector option[value="middle"] {
	background-color: var(--yellow-light);
}
.header__selector option[value="low"] {
	background-color: var(--blue-light);
} */

/* CALENDARIO ///////////////////////////////*/
/* .header__icono-calendario {
	color: var(--gray1);
} */


/* BUSCADOR ///////////////////////////////*/
.header__buscador {
	display: flex;
	width: 100%;
	/* background: yellow; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__buscador input {
	height: 32px;
	border: 1px solid var(--gray1);
	border-radius: var(--r-md);
	padding: 10px;
	width: 100%;
}
/* 
.header__buscador input::placeholder {
} */

.header__buscador i {
	position: absolute;
	right: 10px;
  color: var(--gray1);
}

@media (min-width: 700px) {
	.header__contenedor {
		flex-direction: row;
		/* background: red; */
	}
	.header__contenedor-selectores {
		/* background-color: aqua; */
		padding: 1rem;
	}
}

/* @media (min-width: 1024px) { */
	@media (min-width: 1078px) {

	.header__selector{
		padding: .5rem;
	}

	/* CONTENEDOR ///////////////////////////////*/
	.header__contenedor {
		flex-direction: row;
	}

	.buscador {
		/* background: red; */
		padding: 1.7rem !important;
	}

}
