@import url(../themes/themes1.css);

.App {
	display: flex;
	max-height: 100vh;
	overflow: hidden;
	min-width: 33.2rem;
}

.App__container::-webkit-scrollbar {
	display: none;
}

/* ASIDE //////////////////////////////////////////// */
.App__aside {
	display: flex;
	flex-direction: column;
	padding: 1.2rem;

	width: 32rem;
	min-width: 32rem;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	z-index: 3;
	overflow-y: scroll;
	align-items: center;

	/* TEMA */
	/* border-right: 0.1rem solid var(--aside-bdr);
	background: var(--aside-bg); */

	/* new-themes */
	border-right: var(--aside-bdr);
	background: var(--aside-title);
}
.App__aside::-webkit-scrollbar {
	background: transparent;
	width: 0.5rem;
	display: none;
}
.App__aside::-webkit-scrollbar-thumb {
	background: #33333335;
}

.App__aside--visible {
	transform: translateX(0);
}

.Aside__button-close {
	position: absolute;
	padding: 0.5rem 1rem;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
	z-index: 1;
	cursor: pointer;

	width: 4rem;
	height: 4rem;
	/* border-radius: 50%; */
	border: none;
	border-radius: 1rem;

	border: none;
	transition: 300ms;
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--btn-close-bg);
}
.Aside__button-close:hover {
	background: var(--btn-close-bg-hov);
}
.Aside__button-close i {
	font-size: 1.8rem;
	color: var(--btn-close-ltr);
}
.Aside__button-close i {
	color: var(--btn-close-ltr-hov);
}

/* .Aside__button-close:hover{
	transform: scale(1.15);
} */

/* CONTENEDOR DE HEADER Y MAIN ///////////////////// */
.App__container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
}

/* HEADER*/
.App__header {
	position: sticky;
	top: 0;
	z-index: 2;
	/* border-bottom: 0.1rem solid rgba(128, 128, 128, 0.321); */
	/* box-shadow: 0 5px 5px rgba(128, 128, 128, 0.134); */

	/* new-theme */
	background: var(--header-bg);
	border-bottom: 1px solid var(--header-bdr);
}

/* .Header__boton-abrir{
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
} */

/* MAIN */
.App__main {
	background-color: var(--gray4);
	flex-grow: 1;

	/* THEME */
	/* background: var(--main); */

	/* new-theme */
	background: var(--main-bg);
	border: 1px solid var(--main-bdr);
}

@media (min-width: 1024px) {
	/* @media (min-width: 900px) { */
	.App__aside {
		transform: translateX(0rem);
		position: relative;
	}
	/* .Aside__button-close,
  .Header__boton-abrir{
    display: none;
  } */
	.Aside__button-close {
		display: none;
	}
}
