/* CARD ///////////////////// */
.card {
  border-radius: 1.5rem;
  padding: 0.9rem 0 0.9rem 0.9rem;
  background: var(--red);
  width: 27.2rem;
  height: 16.8rem;
  width: 100%;
  display: none;
}
.card--yellow {
  background: var(--yellow);
}
.card--blue {
  background: var(--blue);
}
.card--visible{
  display: flex;
}

/* CARD MAIN ///////////////////// */
.card__main {
  flex-grow: 1;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 0.7rem;
}

.card__title {
  text-align: center;
  font-weight: bold;
  color: var(--gray1);
  background: transparent;
  width: 100%;

  border: none;
  outline: none;
  resize: none;
  font-size: var(--xl);
}
.card__title:disabled {
  border-bottom: 0.1rem solid var(--gray1);
}

.card__title::-webkit-scrollbar {
  display: none;
}

.card__container {
  color: var(--gray1);
  background: transparent;
  border: none;
  width: 100%;
  height: calc(100% - 5rem);
  resize: none;
  outline: none;
  font-size: var(--lg);
  padding: 0.3rem 0.8rem;
}

.card__container::-webkit-scrollbar {
  display: none;
}

/* CARD ASIDE ///////////////////// */
.card__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
}
.card__icon-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card__icon {
  border-radius: 0.5rem;
  font-size: 1.2rem !important;
  color: var(--white);
  font-size: 1.6rem;
  padding: 0.4rem;
  margin: 0 0.4rem;
  cursor: pointer;

}
.card__icon:hover {
  background: rgba(255, 255, 255, 0.2);
}

.card__icon-container:last-child .card__icon:first-child:hover {
  background: transparent;
  color: var(--gray);
}
.card__icon-container:last-child .card__icon:last-child:hover {
  background: transparent;
  color: var(--green);
}

/* ICONO INDIVIDUAL */
.caja__icon {
  position: relative;
}

.caja__icon:hover .card__alert {
  display: flex;
}
.card__alert {
  position: absolute;
  background: var(--purple);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  right: 4rem;
  width: max-content;
  top: 0;
  display: none;
}

.card__alert:before {
  content: "";
  background: var(--purple);
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -1.5rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotateZ(-270deg) scale(0.6);
}

@media (min-width: 1325px) { /* PROVVVVVVVVVVVVVVVVVVVVVVVVV */
  .card{
    /* background-color: red; */
    flex-grow: 1;


  }

  .card--1column{ /* NO SE ESTA USANDO, PERO DISPONIBLE POR SI LO NECESITO MAS LUEGO */
    /* PARA CUANDO SOLO HAY UNA COLUMNA */
    width: 300px; 
  }
}

