@import url(./scheme1.css);

.theme1 {

	--aside-bg: var(--dark); /* added */
	--aside-bdr: var(--dark); /* added  */
	--aside-title: var(--light); /* added  */

	--header-bg: var(--dark); /*  */
	--header-bdr: var(--dark); /*  */

	--main-bg: var(--neutro); /*  */
	--main-bdr: var(--neutro);/*  */

    /* -------------------------------------------------------------------------------- */

	--form-bg: var(--dark); /**/
	--form-bdr: var(--info);
	--form-ltr: var(--light); /* added */
	--form-p_holder: var(--dark); /* added */
	--form-t_area-bg: var(--neutro); /* added */
    --form-t_area-bdr: var(--info-d); /*  */

    /* -------------------------------------------------------------------------------- */
    /* globales */

	--stack-bg: var(--light); 
	--stack-bdr: var(--light);

	--stack-title-bg: var(--primary);
	--stack-title-bdr: var(--primary);
	--stack-title-ltr: var(--light);

	--stack-num-bg: var(--light);
	--stack-num-bdr: var(--light);
	--stack-num-ltr: var(--primary);

    /*  individuales */

	--stack-todo-bg: var(--light);
	--stack-todo-bdr: var(--light);

	--stack-progress-bg: var(--light);
	--stack-progress-bdr: var(--light);

	--stack-completed-bg: var(--light);
	--stack-completed-bdr: var(--light);

	--stack-todo-title-bg: var(--primary);
	--stack-todo-title-bdr: var(--primary);
	--stack-todo-title-ltr: var(--dark);

	--stack-progress-title-bg: var(--secondary);
	--stack-progress-title-bdr: var(--secondary);
	--stack-progress-title-ltr: var(--dark);

	--stack-completed-title-bg: var(--third);
	--stack-completed-title-bdr: var(--third);
	--stack-completed-title-ltr: var(--dark);

	--stack-todo-num-bg: var(--light);
	--stack-todo-num-bdr: var(--light);
	--stack-todo-num-ltr: var(--dark);

	--stack-progress-num-bg: var(--light);
	--stack-progress-num-bdr: var(--light);
	--stack-progress-num-ltr: var(--dark);

	--stack-completed-num-bg: var(--light);
	--stack-completed-num-bdr: var(--light);
	--stack-completed-num-ltr: var(--dark);

    /* ------------------------------------------------------------------------------------- */
    /* globales */

	--card-bg: var(--neutro);
	--card-bdr: var(--neutro);
	--card-ltr: var(--dark);
	--card-icons: var(--light);
	--card-icons-hov: var(--dark);

    /* individuales */

	--card-high-bg: var(--danger-d);
	--card-high-bdr: var(--danger-d);
	--card-high-ltr: var(--dark);

	--card-mid-bg: var(--warning-d); 
	--card-mid-bdr: var(--warning-d);
	--card-mid-ltr: var(--dark);

	--card-low-bg: var(--info-d); 
	--card-low-bdr: var(--info-d);
	--card-low-ltr: var(--dark);

	--card-t_area-high-bg: var(--danger);
	--card-t_area-high-bdr: var(--danger);

	--card-t_area-mid-bg: var(--warning);
	--card-t_area-mid-bdr: var(--warning);

	--card-t_area-low-bg: var(--info);
	--card-t_area-low-bdr: var(--info);

    /* --------------------------------------------------------------------------------- */
    /* globales */

	--btn-ltr: var(--dark);
	--btn-ltr-hov: var(--dark);

    /* individuales */

	--btn-add-bg: var(--success);
	--btn-add-bdr: var(--success);
	--btn-add-ltr: var(--dark);
	--btn-add-bg-hov: var(--succes-d);
	--btn-add-bdr-hov: var(--success-d);
	--btn-add-ltr-hov: var(--dark);

	--btn-close-bg: var(--light);
	--btn-close-bdr: var(--light);
	--btn-close-ltr: var(--dark);
	--btn-close-bg-hov: var(--light);
	--btn-close-bdr-hov: var(--light);
	--btn-close-ltr-hov: var(--dark);

	--btn-theme-bg: var(--info);
	--btn-theme-bdr: var(--info);
	--btn-theme-ltr: var(--dark); 
	--btn-theme-bg-hov: var(--info-d); 
	--btn-theme-bdr-hov: var(--info-d);
	--btn-theme-ltr-hov: var(--dark);

	--btn-create-bg: var(--success);
	--btn-create-bdr: var(--success);
	--btn-create-ltr: var(--dark);
	--btn-create-bg-hov: var(--success-d);
	--btn-create-bdr-hov: var(--success-d);
	--btn-create-ltr-hov: var(--dark);

    --btn-delete-bg: var(--danger);
	--btn-delete-bdr: var(--danger);
	--btn-delete-ltr: var(--dark);
	--btn-delete-bg-hov: var(--danger-d);
	--btn-delete-bdr-hov: var(--danger-d);
	--btn-delete-ltr-hov: var(--dark);

    /* ----------------------------------------------------------------------------------- */

	--search-bg: var(--light);
	--search-bdr: var(--dark);
	--search-ltr: var(--dark);
	--search-p_holder: var(--neutro);
	--search-icon: var(--neutro);
	--search-icon-hov: var(--neutro);

    /* ------------------------------------------------------------------------------------ */

	--select-bg: var(--light); /*  */
	--select-bdr: var(--dark); /*  */
	--select-ltr: var(--dark); /*  */

	--float-bg: var(--neutro);
	--float-bdr: var(--neutro);
	--float-ltr: var(--dark);

	--alert-bg: var(--info);
	--alert-bdr: var(--info);
	--alert-ltr: var(--dark);

	--separator: var(--dark);
}