/* IMPORTAR LOS TEMAS */
@import url(./themes/theme1.css);
@import url(./themes/theme2.css);
@import url(./themes/theme3.css);
@import url(./themes/theme4.css);
@import url(./themes/theme5.css);
@import url(./themes/theme6.css);
@import url(./themes/theme7.css);
@import url(./themes/theme8.css);
@import url(./themes/theme9.css);
@import url(./themes/theme10.css);
@import url(./themes/theme11.css);
@import url(./themes/theme12.css);
@import url(./themes/theme13.css);
@import url(./themes/theme14.css);
@import url(./themes/theme15.css);
@import url(./themes/theme16.css);
@import url(./themes/theme17.css);
@import url(./themes/theme18.css);
@import url(./themes/theme19.css);
@import url(./themes/theme20.css);
@import url(./themes/theme21.css);
@import url(./themes/theme22.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}


:root{
  /* tamaño de letras */
  --xs: 1.2rem;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --xl: 2.4rem;
  
  /* redondeado de bordes */
  --r-sm: 0.5rem;
  --r-md: 0.7rem;
  --r-lg: 1rem;
  --r-xl: 2rem;
}

