/* ES TO EN */

/* HEADER /////////////////////////////// */
.header {
	width: 100%;
}

/* CONTENEDOR ///////////////////////////////*/
.header__container {
	background-color: var(--gray4);
	background: #b2b2b2;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: .5rem;
	padding: .8rem;
	gap: 1rem;

	/* THEME */
	background: var(--header);
}


/* CAJA DE SELECTORES ///////////////////////////////*/
.header__container-selectors {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: .5rem;
}

/* SELECTOR ///////////////////////////////*/
.header__selector{
	width: max-content;
	border-radius: var(--r-sm);
	padding: .2rem 0 ;
	flex-grow: 1;

	background: var(--header-selector);
	border: 1px solid var(--aside-selector-border);
	color: var(--header-selector-letter);
}

/* BUSCADOR ///////////////////////////////*/
.header__search {
	display: flex;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
.header__search input {
	height: 3.2rem;
	border: 0.1rem solid var(--gray1);
	border-radius: var(--r-sm);
	padding: 1rem;
	width: 100%;

	/* THEME */
	background: var(--header-search);
	border: 1px solid var(--header-search-border);
	color: var(--header-search-letter);
}

.header__search input::placeholder{
	/* THEME */
	color: var(--header-search-place-holder);
}

.header__search i {
	position: absolute;
	right: 1rem;
  color: var(--gray1);
	cursor: pointer;

	/* THEME */
	color: var(--header-search-icon);
}

.header__search i:hover{
	/* THEME */
	color: var(--header-search-icon-hover);
}

@media (min-width: 700px) {
	.header__container {
		flex-direction: row;
		gap: 1.5rem;
	}


	.header__container-selectores {
		padding: 1rem;
	}
}

@media (min-width: 1078px) {

	.header__selector{
		padding: .7rem;
	}

	/* CONTENEDOR ///////////////////////////////*/
	.header__container {
		flex-direction: row;
	}

	.header__search {
		/* padding: 1rem; */
		/* background: green; */
	}

	.header__search input {
		padding: 1rem;
		height: 98%;
	}

}
/* .dark{
  background: #242629;
} */