/* CARD ///////////////////// */
.card{
  width: 430px;
  height: 270px;
  border-radius: 1.5rem;
  display: flex;
  padding: .5rem 0 .5rem .5rem;
  background: var(--red);

  width: 320px;
  height: 200px;
}
.card--yellow{
  background: var(--yellow);
}
.card--blue{
  background: var(--blue);
}

/* CARD MAIN ///////////////////// */
.card__main{
  flex-grow: 1;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: .9rem;

  padding: .7rem;
}

.card__title{
  text-align: center;
  font-weight: bold;
  color: var(--gray1);
  background: transparent;
  width: 100%;

  border: none;
  border-bottom: 2px dashed var(--gray1);
  outline: none;
  resize: none;
  height: 35px;
  font-size: var(--xl);
  /* background: green; */
}
.card__title:disabled{
  border-bottom: 2px solid var(--gray1);
}

.card__container{
  font-weight: bold;
  color: var(--gray2);
  background: transparent;
  border: none;
  width: 100%;
  height: calc(100% - 20px);
  resize: none;
  outline: none;
  font-size: var(--lg);
  padding: .4rem .8rem;
}

/* CARD ASIDE ///////////////////// */
.card__aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 .2rem;
}
.card__icon-container{
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.card__icon{
  border-radius: .2rem;
  font-size: 1rem;
  color: var(--white);
  font-size: .9rem;
  padding: .3rem;
  margin: 0.1rem;
}
.card__icon:hover{
  background: rgba(255, 255, 255, 0.2);
}

.card__icon-container:last-child .card__icon:first-child:hover{
  background: transparent;
  color: var(--gray);
}
.card__icon-container:last-child .card__icon:last-child:hover{
  background: transparent;
  color: var(--green);
}

