.aside {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--white);
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside__form {
  width: 100%;
  min-width: 27.2rem;
  background: var(--white);
  border-radius: var(--r-lg);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.header__form{
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.header__form > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aside__contenedor-selectores{
  display: flex;
  width: 100%;
}

.header__form select{
  padding: .2rem .5rem;
  border-radius: .5rem;
  flex-grow: 1;
}

.aside__container-icons{
  border: none;
  background: transparent;
  cursor: pointer;
  /* background: red; */
}

.header__form i{
  font-size: 2rem;
  padding: 0 .2rem;
}

/* BLOQUE DE TEXTOS */
.header__text{
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.header__text textarea{
  width: 100%;
  padding: 1.5rem;
  outline: none;
  background: #e2e2e5;
  border: none;
  resize: none;
}

.header__input1{
  font-weight: bold;
  font-size: 2.6rem;
}

.header__input2{
  font-size: 2rem;
}

.header__text hr{
  margin: 0rem 1rem;
  background: #333;
  border: none;
  border-top: 0.1rem solid #333;
}


.aside__container-icons{
  /* background: red; */
  display: flex;
  gap: .8rem;
}

.aside__button-create,
.aside__button-delete{
  background-color: #5ccd87;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  flex-grow: 1;
}

.aside__button-delete i{
  color: white !important;
}

.aside__button-create:hover,
.aside__button-delete:hover{
  background-color: #4ba26c;
}













/* BOTON THEME */
.fa-sharp.fa-solid.fa-trash{
  color: black;
}

.l {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1em;
}

.l {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin:1em auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 4rem;
}

.l:before, .l:after {
  content: "";
  display: block;
}

.l:before {
  /*  */
  background-color: currentColor;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.l:after {
  background: linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
/* Checked */
.l:checked {
  background-color: rgba(0,0,0,0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.l:checked:before {
  background-color: #d7d7d7;
  transform: translateX(125%);
}

.l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}

/* DARK THEME */
.App__aside.false.dark{
  background-color: #2e3342;

  /* background: #242629; */
}
.App__aside.false.dark .dark{
  background-color: #202536;

  /* background-color: #1b1b1f; */
}

.fa-sharp.fa-solid.fa-trash.dark{
  color: white;
}